body {
  background-color: #011328;
  color: white;
}

b {
  font-weight: normal;
}

.postForm {
  border: 1px solid black;
  width: fit-content;
  background-color: white;
  color: black;
}

.post {
  border: 1px solid black;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: white;
  color: black
}

.addInputs {
  height: 20px;
  // background-color: black;
}

.addInputs:hover {
  cursor: pointer;
}

.chatText {
  border: 1px solid black;
  height: 200px;
  width: 70%;
  white-space: pre-wrap;
}

.boldText {
  font-weight: bold;
}

.mce-content-body {
  width: 450px;
  min-height: 80px;
  height: auto;
}

// .mce-edit-focus {

// }

.deletePostBtn:hover {
  cursor: pointer;
}

.backBtn:hover {
  cursor: pointer;
}

.editPostBtn:hover {
  cursor: pointer;
}

.commentBubbleBtn:hover {
  cursor: pointer;
}

.likeBtn:hover {
  cursor: pointer;
}

.removeTag:hover {
  cursor: pointer;
}

.textDnDContent:hover {
  cursor: text
}

.textDnDContent {
  width: fit-content;
}

// .draggable:hover {
//   cursor: pointer
// }

.draggable {
  // cursor: pointer;
  width: 100%;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr("<strong>Brother Muzone:</strong> Well we can't stand out here all night...<br><br><strong> Omar Little:</strong> I suppose we can't...<br><br><strong> Brother Muzone:</strong> A man has to have a code.<br><br><strong> Omar Little:</strong> Oh indeed...");
}

#fetchMoreFeed, #fetchMoreActivity, 
#fetchMoreFollowedUsers, #fetchMoreFollowers {
  background-color: red;
  height: 50px;
  width: 50px;
  margin-bottom: 50px;
}


.userDetails {
  background-color: gray;
  width: 300px;
}

.followerResult {
  background-color: gray;
  width: 300px;
}

.followedResult {
  background-color: gray;
  width: 300px;
}

.postsNav {
  background-color: white;
  width: 150px;
  height: 600px;
}

