.postForm {
  border: 1px solid black;
  width: fit-content;
}

.post {
  border: 1px solid black;
  width: fit-content;
  padding: 20px;
  margin: 20px;
}

.addInputs {
  height: 20px;
  // background-color: black;
}

.addInputs:hover {
  cursor: pointer;
}

.draggable:hover {
  cursor: pointer
}