:root {
  --off-white: #ECECEC;
  --tumblr-deep-blue: #011328;
  --tumblr-deep-blue-modal: rgb(1, 19, 40, .95);
  --tumblr-lighter-blue: rgb(1, 19, 40, .7);
  --tag-hover-blue: rgb(225, 235, 245, 0.5);
  --tumblr-light-blue: #14A7FF;
  --tumblr-green: #1bca29;
  --middler-gray: #343434;
  --mid-gray: #414141;
  --less-light-gray: #EFEFEF;
  --light-gray: #E8E9E8;
  --font: 'Noto Sans JP', sans-serif;
}

// #root {
//   position: relative;
//   margin: 0 auto;
//   background-color: red;
// }

body {
  position: relative;
  background-color: var(--tumblr-deep-blue);
  margin: 0 auto;
  z-index: 1;
}

.profilePic {
  background-color: var(--off-white);
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}

// .App {
//   position: relative;
//   width: 980px;
//   margin: 0 auto;
//   background-color: yellow;
// }

// .loading * {
//   transition: none !important;
// }

b {
  font-weight: normal;
}

.addInputs {
  height: 20px;
  // background-color: black;
}

.addInputs:hover {
  cursor: pointer;
}

.chatText {
  border: 1px solid black;
  height: 200px;
  width: 70%;
  white-space: pre-wrap;
}

.boldText {
  font-weight: bold;
}

.mce-content-body {
  width: 450px;
  min-height: 80px;
  height: auto;
}

// .mce-edit-focus {

// }

.deletePostBtn:hover {
  cursor: pointer;
}

.backBtn:hover {
  cursor: pointer;
}

.editPostBtn:hover {
  cursor: pointer;
}

.commentBubbleBtn:hover {
  cursor: pointer;
}

.likeBtn:hover {
  cursor: pointer;
}

.removeTag:hover {
  cursor: pointer;
}

.textDnDContent:hover {
  cursor: text
}

.textDnDContent {
  width: fit-content;
}

// .draggable:hover {
//   cursor: pointer
// }

.draggable {
  // cursor: pointer;
  width: 100%;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr("<strong>Brother Muzone:</strong> Well we can't stand out here all night...<br><br><strong> Omar Little:</strong> I suppose we can't...<br><br><strong> Brother Muzone:</strong> A man has to have a code.<br><br><strong> Omar Little:</strong> Oh indeed...");
}

#fetchMoreFeed, #fetchMoreActivity, 
#fetchMoreFollowedUsers, #fetchMoreFollowers {
  background-color: red;
  height: 50px;
  width: 50px;
  margin-bottom: 50px;
}


// .userDetails {
//   background-color: gray;
//   width: 300px;
// }

// .followerResult {
//   background-color: gray;
//   width: 300px;
// }

// .followedResult {
//   background-color: gray;
//   width: 300px;
// }

// .postRadar {
//   display: block;
// }

.checkOutTheseBlogs {
  display: block;
}

