html, body, div, p, a, h1, h2, 
h3, h4, b, ol, ul, li, form, table,
caption, tbody, thead, tr, th, td,
figure, figcaption, footer, header, menu,
nav, input, text {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  // fill: black;
	vertical-align: baseline;
  text-decoration: none;
}